<div *ngIf="isLoading" class="spinner"></div>
<div class="container mt-4">
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn-primary mb-2" (click)="openModal()">Add Roster</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card card-border">
        <table class="table caption-top">
          <thead class="table-light">
            <tr>
              <th>User IDs</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Created Name</th>
              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roster of roasters; let i = index">
              <td>{{ roster.employeeName}}</td>
              <td>{{ roster.startDate | date:'yyyy-MM-dd' }}</td>
              <td>{{ roster.endDate | date:'yyyy-MM-dd' }}</td>
              <td>{{ roster.createdBy }}</td>
              
              <td>
                <!-- <button class="btn btn-sm" (click)="openModal(true,i)">
                  <i class="fas fa-pen"></i>
                </button> -->
               
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  
    <ng-template #roasterFormModal>
      <div class="modal-backdrop show" style="z-index: 1040;"></div>
      <div class="modal show d-block" tabindex="-1" style="z-index: 1050;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form #roasterForm="ngForm" (ngSubmit)="onSubmit(roasterForm)">
              <div class="modal-header">
                <h5 class="modal-title">
                  {{ isEditMode ? 'Edit Roster' : 'Add New Roster' }}
                </h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
              </div>

              <div class="modal-body">
                <!-- User IDs -->
                <div class="mb-3">
                  <label>Employee Name</label>
                   <select class="form-select" [(ngModel)]="roasterFormData.userIds[0]" name="userId" required>
            <option value="" disabled selected>-- Choose Employee --</option>
            <option *ngFor="let emp of employees" [value]="emp.id">
              {{ emp.firstName }} {{ emp.lastName }}
            </option>
          </select>
                  <!-- <input type="text" class="form-control"
                         [(ngModel)]="roasterFormData.userIds[0]"
                         name="userIds" 
                         /> -->
                </div>

                <!-- Dates -->
                <div class="mb-3">
                  <label>Start Date</label>
                  <input type="date" class="form-control"
                         [(ngModel)]="roasterFormData.startDate" name="startDate" />
                </div>
                <div class="mb-3">
                  <label>End Date</label>
                  <input type="date" class="form-control"
                         [(ngModel)]="roasterFormData.endDate" name="endDate" />
                </div>

                <!-- Dates array -->
                <div class="mb-3">
                  <label>Dates</label>
                  <input type="date" class="form-control"
                         [(ngModel)]="roasterFormData.dates[0]"
                         name="dates"
                         />
                </div>

                <!-- Times -->
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label>Start Times</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="roasterFormData.startTimes[0]"
                           name="startTimes"
                           />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label>End Times</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="roasterFormData.endTimes[0]"
                           name="endTimes"
                           />
                  </div>
                </div>

                <!-- Time Zone -->
                <div class="mb-3">
                  <label>Time Zone</label>
                  <!-- <input type="text" class="form-control"
                         [(ngModel)]="roasterFormData.timeZone" name="timeZone"/> -->
                         <select id="timezoneId" class="form-select" name="timezoneId" [(ngModel)]="roasterFormData.timeZone">
                <option *ngFor="let timeZone of timeZoneList" [value]="timeZone.name">
                    {{timeZone.name}}
                </option>
            </select>
                </div>

                <!-- Include Days -->
                <div class="mb-3">
                  <label>Include Days (0=Sun ... 6=Sat, comma separated)</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="roasterFormData.includeDays"
                         name="includeDays" (change)="onIncludeDaysChange($event)"
                        />
                </div>

                <!-- Shift Name -->
                <div class="mb-3">
                  <label>Shift Name</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="roasterFormData.shiftName" name="shiftName"/>
                </div>
              </div>

              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="isLoading">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

   
    <ng-container *ngIf="modalOpen">
      <ng-container *ngTemplateOutlet="roasterFormModal"></ng-container>
    </ng-container>

  </div>
</div>
