<div *ngIf="isLoading" class="spinner"></div>
<div class="row justify-content-md-center mt-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-2">Create New Password</h5>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Current Password</label>
                        <div class="input-group">
                            <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" name="currentPassword"
                                [(ngModel)]="formData.currentPassword" />
                            <div class="input-group-text" style="cursor: pointer;" (click)="onClickShowCurrentPassword()">
                                <i [class]="showCurrentPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">New Password</label>
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="newPassword"
                                [(ngModel)]="formData.newPassword" />
                            <div class="input-group-text" style="cursor: pointer;" (click)="onClickShowPassword()">
                                <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Confirm Password</label>
                       <div class="input-group">
                            <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" name="confirmPassword"
                                [(ngModel)]="formData.confirmPassword" />
                            <div class="input-group-text" style="cursor: pointer;" (click)="onClickShowConfirmPassword()">
                                <i [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-success me-2" (click)="passwordChange()">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-end mt-2">
            <a routerLink="/login" class="text-decoration-none">Go to Login</a>
        </div>
    </div>

</div>