<div *ngIf="isLoading" class="spinner"></div>
<div class="container">
<form>
  <!-- STEP 1: Email input only (initial view) -->
   <div  *ngIf="!showPasswordForm">
  <div class="row mt-3">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="input-email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="forgotPasswordData.email" />
      </div>
    </div>
  </div>
   <div class="row mt-3">
    <div class="col-md-12 col-sm-12">
      <button type="button" class="btn btn-primary" (click)="sendResetToken()">Send Reset Token</button>
    </div>
  </div>
  </div>


  <!-- STEP 2: Full password reset form (after token is sent) -->
  <div *ngIf="showPasswordForm">
    <div class="row mt-3">
    <div class="col-md-6 col-sm-12">
         <div class="form-group">
         <label class="form-control-label" for="input-first-name">Current Password
        </label>
         <div class="input-group">
       <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" name="currentPassword"
          [(ngModel)]="formData.currentPassword" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i [class]="showCurrentPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="onClickShowCurrentPassword()"></i>
          </span>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="input-first-name">email
        </label>
        <input type="email" class="form-control" name="email" [(ngModel)]="formData.email" />
      </div>
    </div>
     <!-- <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="input-first-name">Token
        </label>
        <input type="text" class="form-control" name="token" [(ngModel)]="formData.token" />
      </div>
    </div> -->
  </div>
  <div class="row mt-3">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="input-first-name">New Password
        </label>
         <div class="input-group">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="newPassword"
          [(ngModel)]="formData.newPassword" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="onClickShowPassword()"></i>
          </span>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="input-first-name">Confirm Password
        </label>
          <div class="input-group">
        <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" name="confirmPassword"
          [(ngModel)]="formData.confirmPassword" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="onClickShowConfirmPassword()"></i>
          </span>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 col-sm-12">
      <button type="button" class="btn btn-success me-2" (click)="passwordChange()">Update</button>
       <button type="button" class="btn btn-secondary" (click)="cancelReset()">Cancel</button>
    </div>
  </div>
  </div>
</form>
</div>